In [ ]:
Nombres = ['Ana','Maria'] 
Tipos = ['Extrovertida', 'Rebelde'] 
Edades = [26, 29] 
Trabajo = ['Deportista', 'Barista']
x=list(zip(Nombres,Tipos,Edades,Trabajo))
diccionario={}
for i in range(len(Nombres)):	
	diccionario[str(i+1)]=x[i]
print(diccionario)
print(diccionario['1'])

{'1': ('Ana', 'Extrovertida', 26, 'Deportista'), '2': ('Maria', 'Rebelde', 29, 'Barista')}
('Ana', 'Extrovertida', 26, 'Deportista')

#SERIES:

> Es la estructura más simple que proporciona Pandas, y se asemeja a una columna en una hoja de cálculo de Excel. Un objeto Series tiene dos componentes principales: un índice y un vector de datos.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
texto = ['a','b','c']
datos = [10,20,30]
arr = np.array(datos)
a=dict(zip(texto,datos))#es igual a hacer -->  d = {'a':10, 'b':20, 'c':30}
print(a)

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
x=pd.Series(index = texto, data = datos) # Creando una serie con array primero los indices y despues los datos
print(x)

a    10
b    20
c    30
dtype: int64

In [ ]:
print(pd.Series(a)) # Creando una serie con un diccionario
x=pd.Series(data = texto)
print('####')
print(x[0])
print('####')
serie1 = pd.Series([1,2,3,4],['USA', 'GERMANY', 'USSR', 'JAPAN'])
print(serie1)
print('####')
print(serie1['USA'])
print('####')
serie2 = pd.Series([1,2,3,4],['USA', 'GERMANY', 'ITALY', 'JAPAN'])
print(serie2)
print('####')
print(serie1+serie2)

a    10
b    20
c    30
dtype: int64
####
a
####
USA        1
GERMANY    2
USSR       3
JAPAN      4
dtype: int64
####
1
####
USA        1
GERMANY    2
ITALY      3
JAPAN      4
dtype: int64
####
GERMANY    4.0
ITALY      NaN
JAPAN      8.0
USA        2.0
USSR       NaN
dtype: float64

In [ ]:
alimentos=['carne','verduras','bebidas','cereales']
cantidades=[125,423,66,201]
caja=pd.Series(cantidades, index=alimentos)
print(caja)

carne       125
verduras    423
bebidas      66
cereales    201
dtype: int64

In [ ]:
#cuales estan por denajo de 200 para solicitar mercancía
for i in caja.index:
    if(int(caja[i])<200):
        print(f'solicitar {i}, queda solo {caja[i]} unidades')

solicitar carne, queda solo 125 unidades
solicitar bebidas, queda solo 66 unidades

In [ ]:
#si llega mas mercancía nueva
alimentos=['carne','verduras','bebidas','cereales']
cantidades=[1000,1000,2000,3000]
caja_nueva=pd.Series(cantidades, index=alimentos)
print(caja_nueva)
#sumar cajas
for i in caja_nueva.index:
  caja[i]=int(caja[i])+int(caja_nueva[i])
print(caja)

carne       1000
verduras    1000
bebidas     2000
cereales    3000
dtype: int64
carne       1125
verduras    1423
bebidas     2066
cereales    3201
dtype: int64

# DATAFRAMES

> El DataFrame es la estructura de datos fundamental de Pandas, representa una tabla de datos panel con indexación integrada. Cada columna contiene los valores de una variable y cada fila un conjunto de valores de cada columna.

In [ ]:
from numpy.random import randn
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
print(df)
print('####')
print(df['W'])
print('#####')
print(df[['W','X']])
print('####')
df['suma(W+Y)'] = df['W'] + df['Y']#sumar dos columnas
print(df)
# Truco para recordar
# Posiciones 0 y 1
# axis = 0 (filas) y axis = 1 (columnas)
df.drop('suma(W+Y)', axis = 1,inplace = False) # inplace
print(df)
df.drop('suma(W+Y)', axis = 1,inplace = True) # inplace
print(df)
#Muchas operaciones de Pandas tienen un inplace como parámetro, siempre por defecto False, 
#lo que significa que el DataFrame original no se modifica y la operación devuelve un nuevo DF.
#Al configurar inplace = True, la operación podría funcionar en el DF original, pero aún podría 
#funcionar en una copia detrás de escena, y simplemente reasignar la referencia cuando haya terminado.
print(df.drop('E', axis = 0))#quitamos una fila

          W         X         Y         Z
A -1.409126  0.870907  1.585812  0.929658
B -0.550876  0.942045 -0.975349 -1.054851
C  2.165421 -1.267240 -0.802843 -0.253479
D  0.090699  1.321715  0.794129  1.359712
E  0.771970  0.294217 -1.391519  0.147486
####
A   -1.409126
B   -0.550876
C    2.165421
D    0.090699
E    0.771970
Name: W, dtype: float64
#####
          W         X
A -1.409126  0.870907
B -0.550876  0.942045
C  2.165421 -1.267240
D  0.090699  1.321715
E  0.771970  0.294217
####
          W         X         Y         Z  suma(W+Y)
A -1.409126  0.870907  1.585812  0.929658   0.176687
B -0.550876  0.942045 -0.975349 -1.054851  -1.526225
C  2.165421 -1.267240 -0.802843 -0.253479   1.362578
D  0.090699  1.321715  0.794129  1.359712   0.884827
E  0.771970  0.294217 -1.391519  0.147486  -0.619549
          W         X         Y         Z  suma(W+Y)
A -1.409126  0.870907  1.585812  0.929658   0.176687
B -0.550876  0.942045 -0.975349 -1.054851  -1.526225
C  2.165421 -1.267240 -0.802843 -0.253479   1.362578
D  0.090699  1.321715  0.794129  1.359712   0.884827
E  0.771970  0.294217 -1.391519  0.147486  -0.619549
          W         X         Y         Z
A -1.409126  0.870907  1.585812  0.929658
B -0.550876  0.942045 -0.975349 -1.054851
C  2.165421 -1.267240 -0.802843 -0.253479
D  0.090699  1.321715  0.794129  1.359712
E  0.771970  0.294217 -1.391519  0.147486
          W         X         Y         Z
A -1.409126  0.870907  1.585812  0.929658
B -0.550876  0.942045 -0.975349 -1.054851
C  2.165421 -1.267240 -0.802843 -0.253479
D  0.090699  1.321715  0.794129  1.359712

In [ ]:
diccionario={'columna':[1,2,3,4],'columna2':[5,6,7,8]}
df=pd.DataFrame(data=diccionario)
print(df)

   columna  columna2
0        1         5
1        2         6
2        3         7
3        4         8

In [ ]:
df=pd.DataFrame(np.array([[1,2,3],[4,5,6], [7,8,9]]), columns=['cantidad','medida','id'])
print(df)

   cantidad  medida  id
0         1       2   3
1         4       5   6
2         7       8   9

In [ ]:
#si mezclamos todo
alimentos=['carne','verduras','bebidas','cereales']
cantidades=[125,423,66,201]
medidas=['kg','kg','lt','bulto']
Id=[1,2,3,4]
x=list(zip(alimentos,cantidades,medidas))
print(x)
df=pd.DataFrame(data=x,index=Id,columns=['alimento','cantidad','medida'])
print(df)
print('#####')
print(df['alimento'])
print(df[['alimento','cantidad']])

[('carne', 125, 'kg'), ('verduras', 423, 'kg'), ('bebidas', 66, 'lt'), ('cereales', 201, 'bulto')]
   alimento  cantidad medida
1     carne       125     kg
2  verduras       423     kg
3   bebidas        66     lt
4  cereales       201  bulto
#####
1       carne
2    verduras
3     bebidas
4    cereales
Name: alimento, dtype: object
   alimento  cantidad
1     carne       125
2  verduras       423
3   bebidas        66
4  cereales       201

In [ ]:
#seleccionar columnas
print(df.iloc[:,0])
''' El método iloc se utiliza en los DataFrames para seleccionar los elementos en base 
a su ubicación. Su sintaxis es data. iloc[<filas>, <columnas>] , 
donde <filas> y <columnas> son la posición de las filas y columnas que se desean 
seleccionar en el orden que aparecen en el objeto.'''
print(df.loc[1])
''' El método loc se puede usar de dos formas diferentes: seleccionar filas o columnas en base a una etiqueta 
o seleccionar filas o columnas en base a una condición.'''
print(df.loc[:, 'cantidad'] <200)

1       carne
2    verduras
3     bebidas
4    cereales
Name: alimento, dtype: object
alimento    carne
cantidad      125
medida         kg
Name: 1, dtype: object
1     True
2    False
3     True
4    False
Name: cantidad, dtype: bool

# CSV

> Carga de datos

In [ ]:
#cargar datos
x=pd.read_csv('sample_data/mnist_test.csv')
print(x)

      7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0     2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1     1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2     0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3     4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4     1  0    0    0    0    0    0    0    0    0  ...      0      0      0
...  .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...    ...
9994  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
9995  3  0    0    0    0    0    0    0    0    0  ...      0      0      0
9996  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
9997  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
9998  6  0    0    0    0    0    0    0    0    0  ...      0      0      0

      0.661  0.662  0.663  0.664  0.665  0.666  0.667
0         0      0      0      0      0      0      0
1         0      0      0      0      0      0      0
2         0      0      0      0      0      0      0
3         0      0      0      0      0      0      0
4         0      0      0      0      0      0      0
...     ...    ...    ...    ...    ...    ...    ...
9994      0      0      0      0      0      0      0
9995      0      0      0      0      0      0      0
9996      0      0      0      0      0      0      0
9997      0      0      0      0      0      0      0
9998      0      0      0      0      0      0      0

[9999 rows x 785 columns]

In [ ]:
df = pd.read_csv('sample_data/mnist_test.csv')
print(df)
print('####')
print(df.head())#primeras 5 filas y todas las columnas
print('####')
print(df.head(2))#primeras 2 filas y todas las columnas
print('####')
print(df.tail())#ultimas 5 filas y todas las columnas
print('####')
print(df.tail(2))#ultimas 5 filas y todas las columnas

      7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0     2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1     1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2     0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3     4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4     1  0    0    0    0    0    0    0    0    0  ...      0      0      0
...  .. ..  ...  ...  ...  ...  ...  ...  ...  ...  ...    ...    ...    ...
9994  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
9995  3  0    0    0    0    0    0    0    0    0  ...      0      0      0
9996  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
9997  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
9998  6  0    0    0    0    0    0    0    0    0  ...      0      0      0

      0.661  0.662  0.663  0.664  0.665  0.666  0.667
0         0      0      0      0      0      0      0
1         0      0      0      0      0      0      0
2         0      0      0      0      0      0      0
3         0      0      0      0      0      0      0
4         0      0      0      0      0      0      0
...     ...    ...    ...    ...    ...    ...    ...
9994      0      0      0      0      0      0      0
9995      0      0      0      0      0      0      0
9996      0      0      0      0      0      0      0
9997      0      0      0      0      0      0      0
9998      0      0      0      0      0      0      0

[9999 rows x 785 columns]
####
   7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  1  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.661  0.662  0.663  0.664  0.665  0.666  0.667
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]
####
   7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  1  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.661  0.662  0.663  0.664  0.665  0.666  0.667
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0

[2 rows x 785 columns]
####
      7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
9994  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
9995  3  0    0    0    0    0    0    0    0    0  ...      0      0      0
9996  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
9997  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
9998  6  0    0    0    0    0    0    0    0    0  ...      0      0      0

      0.661  0.662  0.663  0.664  0.665  0.666  0.667
9994      0      0      0      0      0      0      0
9995      0      0      0      0      0      0      0
9996      0      0      0      0      0      0      0
9997      0      0      0      0      0      0      0
9998      0      0      0      0      0      0      0

[5 rows x 785 columns]
####
      7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
9997  5  0    0    0    0    0    0    0    0    0  ...      0      0      0
9998  6  0    0    0    0    0    0    0    0    0  ...      0      0      0

      0.661  0.662  0.663  0.664  0.665  0.666  0.667
9997      0      0      0      0      0      0      0
9998      0      0      0      0      0      0      0

[2 rows x 785 columns]

In [ ]:
import pandas as pd
df = pd.read_csv('https://datahub.io/machine-learning/diabetes/r/diabetes.csv')
print(df)

     preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]

In [ ]:

print(df['class'])

0      tested_positive
1      tested_negative
2      tested_positive
3      tested_negative
4      tested_positive
            ...
763    tested_negative
764    tested_negative
765    tested_negative
766    tested_positive
767    tested_negative
Name: class, Length: 768, dtype: object

In [ ]:
print(df.describe)

<bound method NDFrame.describe of      preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
1       1    85    66    29     0  26.6  0.351   31  tested_negative
2       8   183    64     0     0  23.3  0.672   32  tested_positive
3       1    89    66    23    94  28.1  0.167   21  tested_negative
4       0   137    40    35   168  43.1  2.288   33  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
763    10   101    76    48   180  32.9  0.171   63  tested_negative
764     2   122    70    27     0  36.8  0.340   27  tested_negative
765     5   121    72    23   112  26.2  0.245   30  tested_negative
766     1   126    60     0     0  30.1  0.349   47  tested_positive
767     1    93    70    31     0  30.4  0.315   23  tested_negative

[768 rows x 9 columns]>

In [ ]:
#cargar excel
df=pd.read_excel('nombre excel')
print(df)

In [ ]:
#filtrar datos
print(df[df['nota']<3.0][['nombre','apellido']])

In [ ]:
#contar datos
print(df['apellido'].value_counts())

In [ ]:
#promedio
promedio=df['calificacion'].mean()
print(promedio)